.DS_Store
test.*
profile.out
.vscode
scripts/textout
tests/textout
checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache/

# C extensions
*.so

# Vim
*.sw[po]

# Distribution / packaging
.Python
env/
.env/
venv*/
pypy/
pypy3/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/sphinx/_build/

# PyBuilder
target/

# Spark data files
*.crc

# IPython
*.ipynb.syncdoc
.ipynb_checkpoints
.ipython-daemon.json
